* {
   margin: 0;
   padding: 0;
}

body {
    background-color: black;
}

header {
    background-color: black;
     color: aliceblue;
}

.cabecalho{
    background-color: black;
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;

}
.secao1{
    background-image: linear-gradient(#424E61,#16CFF8);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
     padding: 24px 0;
}

.secao1-titulo{
    padding: 24px 0;
}

.secao1-imagem {
 width: 30%;
}

.secao1-div-conteudo{
 width: 35%;
}