@import url(/styles/header.css);

:root {
    --cor-principal: rgba(0, 17, 255, 0.562);
    --cor-secundaria: lightgray;
    --cor-terciaria: rgb(119, 0, 255);
    --cor-de-escrita: rgb(255, 255, 255);
    --fonte-principal: "Oswald";
    --fonte-secundaria: "Bebas"

}

body {
    background-color: black;
    color: white;
    font-family: var(--fonte-secundaria);
}

header {
    background-color: black;
    color: white;
}

.secao1 {
    background-image: linear-grhttps: //docs.google.com/presentation/d/1cyo5xvQlG74sbtKy32TJg16YawFCigh1mEH8QoBMlH0/edit?usp=sharingadient(#424E61,#16CFF8);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.secao1-titulo {
    padding: 24px 0;
}

.secao1-imagem {
    width: 30%;
}

.secao1-div-conteudo {
    width: 35%;
}

.nome-img {
    width: 120px;

}

.icon-redes {
    width: 24px;
    padding: 4px 8px;
}