.carrossel__titulo {
    color: var(--preto);
    background-color: var(--cor-principal);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.card {
    background: var(--roxo);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.descricao__titulo {
    color: var(--amarelo);
    font-weight: 700;
}

.descricao__titulo-produto {
    color: var(--cor-principal);
    font-size: 20px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descricao__texto {
    font-family: var(--fonte-secundaria);
    font-size: 13px;
}

.descricao__imagem{
    width: 60%;
}

.botoes__item {
    margin: 0 0.5em;
}

.botoes__ancora {
    background-color: var(--amarelo);
    padding: 1em 2.2em;
    color: var(--cor-principal);
    font-weight: 700;
    text-decoration: none;
}