@import url(/styles/header.css);

 :root{
    --cor-principal: rgb(255, 255, 255);
    --cor-secundaria: rgb(255, 255, 255);
    --cor-terciaria: darkgray;
    --cor-de-escrita: rgb(255, 255, 255);
    --branco:#FFFFFF;
    --azul: #3d89ec;
    --fonte-principal: "Oswald";
    --fonte-secundaria: "Roboto";

}
     
body {
    background-color:var(--cor-terciaria);
    font-family: var(var(--fonte-principal));
 }

.secao1 {
     background-image: linear-gradient(#424E61,#16CFF8);
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 24px 0;
}

.secao1-titulo {
    padding: 24px 0;
}

.secao1-imagem {
 width: 30%
}

.secao1-div-conteudo{
    width: 35%;
}
 
.nome-img{
    width: 200px;

}

.icon-redes{
    width: 24px;
    padding: 4px 8px;
}